#pmOverlay {
	text-align: center;
}
/*
#pmOverlayImg {
	position: absolute;
	margin-top: 50px;
	margin-right: 50px;
	margin-left: 60px;
	margin-bottom: 10px;
}
*/

.test_for_Git{
	text-align: center;
	margin-right: 50px;
	margin-left: 60px;
	margin-bottom: 10px;
}